- KNearestNeighbor -
KNN digunakan untuk klasifikasi dan regresi. K-NN bekerja dengan cara menemukan kategori atau nilai target dari suatu data baru dengan cara membandingkan dengan data yang ada dalam kumpulan data.

Preparing Dataset

In [8]:
import pandas as pd

data = {"iq" : [110, 90, 40, 76, 23, 130, 218, 190, 41, 86, 66, 177, 139, 54, 62],
        "jk" : ['pria','wanita', 'pria', 'pria','pria', 'wanita', 'wanita', 'pria', 'wanita', 'pria', 'wanita', 'wanita','wanita', 'pria','pria'],
        "attitude" : ['baik', 'buruk','buruk','buruk','baik','baik', 'buruk', 'baik','baik', 'buruk', 'baik', 'baik', 'buruk', 'baik','buruk']
        }
dataset = pd.DataFrame(data)
dataset

     iq      jk attitude
0   110    pria     baik
1    90  wanita    buruk
2    40    pria    buruk
3    76    pria    buruk
4    23    pria     baik
5   130  wanita    baik,
6   218  wanita    buruk
7   190    pria     baik
8    41  wanita     baik
9    86    pria    buruk
10   66  wanita     baik
11  177  wanita     baik
12  139  wanita    buruk
13   54    pria     baik
14   62    pria    buruk

Data Preproccesing